<!DOCTYPE html>
<html>
    <head>
        <title>IM</title>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        {% load static %}
        <link rel = "stylesheet" href = "{% static 'store/store.css' %}">
        <link rel = "stylesheet" href = "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
        <link rel = "stylesheet" href = "{% static 'store/new_store.css' %}">
    </head>
    <body>
        <div class = "nav-container">
            <div class = "nav-title">{% block nav_title %}{% endblock %}</div>
            <div class = "nav-option-container">
                <a class = "nav-option" href = "{% url 'home_page' username %}">Store</a>
                <a class = "nav-option" href = "{% url 'product_page' username %}">Product</a>
                <a class = "nav-option" href = "{% url 'material_page' username %}">Material</a>
            </div>
            <div class = "nav-logout">
                <span class="material-symbols-outlined">
                    logout
                </span>
                <a id = "text-logout" href = "{% url 'logout' %}">Log Out</a>
            </div>
        </div>
        {% block main %}
        {% endblock %}
    </body>
</html>