{% extends "store/base.html" %}

{% block nav_title %}{{username}}{% endblock %}

{% block main %}
    <div class = "store-container">
        <div class = "store-container-title">Your Store</div>
        {% if store.count %}
            <div class = "store-content-container">
                {% for store_object in store %}
                    <div class = "store-item-container">
                        <div class = "store-item-title">{{store_object.store_name}}</div>
                        <div class = "store-item-description">Description</div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
        <div class = "store-empty-container">
            <span class = "empty-title">No Store found</span>
            <span class = "empty-description">It seems, No Store is created yet</span>
            <span class = "empty-description">Let's add some Store!</span>
        </div>
        {% endif %}
        <a class = "add-store-container" href = "{% url 'new_store_page' username %}">
            <span class = "material-symbols-outlined add-icon">add</span>
            <span class = "add-store-text">Add Store</span>
        </a>
    </div>
    
{% endblock %}