{% extends 'store/base.html' %}

{% block main %}
<div class = "main-detail-container">
    <div class = "detail-container">
        <div class = "detail-title">Restock</div>
        <form class = "detail-content-container" method = "POST" action = "{% url 'restock_page' username %}">
            {% csrf_token %}
            {% if materials.count %}
                {% for material in materials %}
                    <div class = "restock-content-item-container">
                        <span class = "restock-detail-text">ID: {{material.id}}</span>
                        <input type = 'hidden' name = "material" value = {{material.id}} />
                        <input type = 'hidden' name = "restock_capacity" value = {{material.restock_capacity}} />
                        <div class = "restock-content-detail-container">
                            <span class = "restock-detail-text">Current Capacity: {{material.current_capacity}}</span>
                            <span class = "restock-detail-text">Max Capacity: {{material.max_capacity}}</span>
                            <span class = "restock-detail-text">Price: {{material.price}}</span>
                            <span class = "restock-detail-text restock">Restock Capacity: {{material.restock_capacity}}</span>
                        </div>
                    </div>
                    {% endfor %}
                <div class = "price-container">
                    <span class = "price-title">Total Price:</span>
                    <span class = "price-text">{{total_price}}</span>
                </div>
                <button class = "form-submit-button">Restock</button>
            {% else%}
                <div class = "empty-container">
                    <span class = "empty-title">Nothing to Restock</span>
                    <span class = "empty-description">It seems, No Material needed to be restocked</span>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}