.main-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.form-container{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    padding: 10px;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-title{
    text-align: center;
    font-weight: 800;
    font-size: 3em;
    padding: 20px;
    border-bottom: 2px outset gray;
}

.form-field-container > .error{
    font-size: .8em;
    color: red;
}

.form-field-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
    margin: 10px;
    font-weight: 600;
    width: 40vh;
}

.form-field-container > input{
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid gray;
    margin: 7px 0px;
    padding: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 100%;
}

.form-field-container > input:focus{
    outline: transparent;
    border-bottom: 1px solid black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: rgb(242, 239, 239);
}

.form-field-container > .error{
    font-size: .8em;
    color: red;
}

.form-submit-button{
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 300;
    background-color: rgb(232,232,232);
    cursor: pointer;
    transition: .2s ease-in;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 10px;
    text-decoration: none;
    color: rgb(76, 75, 75);
}

.form-submit-button:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: rgb(197, 193, 193);
    color: black;
}