@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600;800&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.nav-container{
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 20px;
}

.nav-title{
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    width: 30vh;
    cursor: pointer;
}

.nav-option-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 1.5em;
}

.nav-option{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color .1s ease-in;
    text-decoration: none;
    color: black;
}

.nav-option:hover, .nav-logout:hover{
    background-color: lightgray;
}

.nav-logout{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    transition: background-color .1s ease-in;
}

#text-logout{
    font-weight: 600;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.store-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.store-container-title{
    font-size: 3em;
    border-bottom: 2px double black;
    font-weight: 900;
    padding: 20px;
    margin: 20px;
}

.store-content-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vh;
    padding: 50px;
}

.store-item-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 20px;
    border-radius: 10px;
    transition: .2s ease-in;
    background-color: rgb(244, 242, 242);
    width: 30vh;
    height: 30vh;
    margin: 20px;
}

.store-item-title{
    font-weight: 600;
    font-size: 2em;
    margin: 10px 0px;
    border-bottom: 2px solid black;
}

.empty-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    border: 2px outset gray;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.empty-title{
    font-weight: 600;
    font-size: 2.5em;
    margin: 10px;
    text-align: center;
}

.empty-description{
    font-weight: 300;
    font-size: 2em;
    margin: 5px;
    text-align: center;
}

.add-container{
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .1s ease-in;
    text-decoration: none;
    color: black;
}

.add-container:hover{
    background-color:lightgray;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.add-text{
    font-size: 1.5em;
    font-weight: 600;
    margin: 5px 10px;
    transition: .1s ease-in;
}

.store-utils-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    width: 100%;
}

.store-utils-container > .form-submit-button{
    background-color: rgb(107, 216, 180);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    font-size: 1.2em;
    color: rgb(7, 55, 39);
    width: 100%;
    text-align: center;
}

.store-utils-container > .form-submit-button:hover{
    background-color: rgb(19, 113, 82);
    color: white;
}

.restock-content-item-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    font-weight: 300;
    font-size: 1.2em;
    width: 100%;
    height: 10vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: .1s ease-in;
    margin: 10px 0px;
}

.restock-content-detail-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px;
}

.restock-content-item-container:hover{
    background-color: lightgray;
}

.restock-detail-text{
    margin: 0px 10px;
}

.restock{
    color: green;
    font-weight: 600;
}

.price-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px outset gray;
    border-radius: 10px;
    margin: 10px;
}

.price-title{
    font-weight: 600;
    font-size: 1.2em;
    border-bottom: 1px solid black;
}

.price-text{
    font-weight: 900;
    font-size: 1.2em;
    margin: 0px 5px;
}