{% extends "user/base.html" %}

{% block title %}Login{% endblock %}

{% block form %}
    <form method = "POST" action = "{% url 'login_page' %}">
        {% csrf_token %}
        <label for = "{{ form.username.id_for_label }}">{{ form.username.label }}</label>
        {{ form.username }}
        {% if forms.errors %}
            <div class = "error">{{ forms.username.error }}</div>
        {% endif %}
        <label for = "{{ form.password.id_for_label }}">{{ form.password.label }}</label>
        {{ form.password }}
        <a href = "{% url 'new_user_page' %}" id = "create-new-user-link">Create a new User</a>
        {% if form.errors %}
        <div class = "error">{{ form.username.errors }}</div>
        {% endif %}
        <input type = "submit" id = "login-button" value = "Log In"/>
    </form>
{% endblock %}