{% extends "user/base.html" %}

{% block form %}
    <div class = "form-container">
        <div class = "form-title">Create an Account</div>
        <form method = "POST" class = "form" action = "{% url 'new_user_page' %}" novalidate>
            {% csrf_token %}
            <div class = "form-field-container">
                {{ form.username.label_tag }}
                {{ form.username }}
                {% if form.username.errors %}
                    <div class = "error">{{ form.username.errors.as_text }}</div>
                {% endif %}
            </div>
            <div class = "form-field-container">
                {{ form.password.label_tag }}
                {{ form.password }}
                {% if form.password.errors %}
                    <div class = "error">{{ form.password.errors.as_text }}</div>
                {% endif %}
            </div>
            <div class = "form-field-container">
                {{ form.repassword.label_tag }}
                {{ form.repassword }}
                {% if form.repassword.errors %}
                    <div class = "error">* {{ form.repassword.errors.get_context.errors.0 }}</div>
                {% endif %}
            </div>
            <div class = "form-field-container">
                {{ form.email.label_tag }}
                {{ form.email }}
                {% if form.email.errors %}
                    <div class = "error">{{ form.email.errors.as_text }}</div>
                {% endif %}
            </div>
            <button type = "submit" class = "form-submit-button" >Create Account</button>
        </form>
    </div>
{% endblock %}