{% extends "store/base.html" %}

{% block main %}
<div class = "main-form-container">
    <div class = "form-container">
        <div class = "form-title">Edit Product</div>
        <form method = "POST" class = "form" action = "{% url 'edit_product_page' username=username product_id=product_id %}" novalidate>
            {% csrf_token %}
            <div class = "form-field-container">
                {{product_form.product_name.label_tag}}
                {{product_form.product_name}}
                {% if product_form.product_name.errors %}
                    <div class = 'error'>{{product_form.product_name.errors.as_text}}</div>
                {% endif %}
                <div class = "form-sub-container">
                    <div class = "form-sub-field-container">
                        {{material_quantity_form.material.label_tag}}
                        {{material_quantity_form.material}}
                    </div>
                    <div class = "form-sub-field-container">
                        {{material_quantity_form.quantity.label_tag}}
                        {{material_quantity_form.quantity}}
                    </div>
                </div>
            </div>
            <div class = "button-container">
                <button type = "submit" class = "form-submit-button change">Change</button>
                <a href = "{% url 'delete_product_page' username=username product_id=product_id %}" class = "form-submit-button delete">Delete</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}