{% extends "store/base.html" %}

{% block main %}
<div class = "main-detail-container">
    <div class = "detail-container">
        <div class = "detail-title">Products</div>
        <div class = "detail-content-container">
            {% if products.count %}
                {% for product in products %}
                    <div class = "product-container">
                        <img class = "product-image" />
                        <div class = "product-detail-container">
                            <div class = "product-detail-text">ID: {{product.id}}</div>
                            <div class = "product-detail-text">Name: {{product.product_name}}</div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class = "empty-container">
                <span class = "empty-title">No Product found</span>
                <span class = "empty-description">It seems, No Product is created yet</span>
                <span class = "empty-description">Let's add some Product!</span>
            </div>
            {% endif %}
        </div>
        <a class = "add-container" href = "{% url 'new_product_page' username %}">
            <span class = "material-symbols-outlined add-icon">add</span>
            <span class = "add-text">Add Product</span>
        </a>
    </div>
</div>
{% endblock %}