{% extends 'store/base.html' %}

{% block main %}
<div class = "main-form-container">
    <div class = "form-container">
        <div class = "form-title">Edit Material</div>
        <form method = "POST" class = "form" action = "{% url 'edit_material_page' username=username material_id=material_id %}" novalidate>
            {% csrf_token %}
            <div class = "form-field-container">
                {{form.material_name.label_tag}}
                {{form.material_name}}
            </div>
            <div class = "form-field-container">
                {{form.price.label_tag}}
                {{form.price}}
            </div>
            <div class = "form-field-container">
                {{form.max_capacity.label_tag}}
                {{form.max_capacity}}
                {% if form.max_capacity.errors %}
                    <div class = "error">{{form.max_capacity.errors.as_text}}</div>
                {% endif %}
            </div>
            <div class = "form-field-container">
                {{form.current_capacity.label_tag}}
                {{form.current_capacity}}
            </div>
            <div class = "button-container">
                <button type = "submit" class = "form-submit-button change">Change</button>
                <a href = "{% url 'delete_material_page' username=username material_id=material_id %}" class = "form-submit-button delete">Delete</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}