{% extends 'store/base.html' %}

{% block main %}
<div class = "main-detail-container">
    <div class = "detail-container">
        <div class = "detail-title">Material</div>
        <div class = "detail-content-container">
            {% if materials.count %}
                {% for material in materials %}
                    <div class = "material-container">
                        <img class = "material-image" />
                        <div class = "material-detail-container">
                            <div class = "material-detail-text">ID: {{material.id}}</div>
                            <div class = "material-detail-text">Name: {{material.material_name}}</div>
                            <a class = "edit-button" href = "{% url 'edit_page' material.id %}">Edit</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class = "empty-container">
                <span class = "empty-title">No Material found</span>
                <span class = "empty-description">It seems, No Material is created yet</span>
                <span class = "empty-description">Let's add some Material!</span>
            </div>
            {% endif %}
        </div>
        <a class = "add-container" href = "{% url 'new_material_page' username %}">
            <span class = "material-symbols-outlined add-icon">add</span>
            <span class = "add-text">Add Material</span>
        </a>
    </div>
</div>
{% endblock %}