{% extends 'store/base.html' %}

{% block main %}
<div class = "main-form-container">
    <div class = "form-container">
        <div class = "form-title">Create a New Material</div>
        <form method = "POST" class = "form" action = "{% url 'new_material_page' username %}" novalidate>
            {% csrf_token %}
            <div class = "form-field-container">
                {{form.material_name.label_tag}}
                {{form.material_name}}
                {% if form.material_name.errors %}
                    <div class = "error">{{form.material_name.errors.as_text}}</div>
                {% endif%}
            </div>
            <div class = "form-field-container">
                {{form.price.label_tag}}
                {{form.price}}
                {% if form.price.errors %}
                    <div class = "error">{{form.price.errors.as_text}}</div>
                {% endif%}
            </div>
            <div class = "form-field-container">
                {{form.max_capacity.label_tag}}
                {{form.max_capacity}}
                {% if form.max_capacity.errors %}
                    <div class = "error">{{form.max_capacity.errors.as_text}}</div>
                {% endif%}
            </div>
            <div class = "form-field-container">
                {{form.current_capacity.label_tag}}
                {{form.current_capacity}}
                {% if form.current_capacity.errors %}
                    <div class = "error">{{form.current_capacity.errors.as_text}}</div>
                {% endif%}
            </div>
            {{form.store_name}}
            <button type = "submit" class = "form-submit-button">Create</button>
        </form>
    </div>
</div>
{% endblock %} 